<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name = "description" content ="Project purpose, topo secreto">
                <title> Strona zarzadzania projektem Plantie </title> 
                <link rel="stylesheet" type="text/css" href="css/main.css">
                <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>

        <!-- <sup><small><small>TM</small></small></sup> -->

        <body  text="black" >
                <div id="header">
                        <a>Plantie</a>
                        <div id="tm"> 
                             <a>TM</a>   
                        </div>
                         <a> - panel zarządzania</a>
                </div>

                
                <div class="content">
                                <div id="options">
                                        <button id="Water" class="button" >Water</button>
                                        <button id="Fertilize" class="button" >Fertilize</button>
                                        <button id="Light" class="button" >Light</button>
                                        <button id="Buttonx" class="button">Whatever</button>
                                </div>
                        </div>


                <!-- <figure>
                <img src="images/images.jpg" width="1920" height="1080" alt="Background">
                </figure> -->
                <!-- <a href="http://www.facebook.com"><img src ="images/images.jpg" alt ="meh" border ="0"></a> -->
                

        </body>
</html>